*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

:root {
    /*COLORI*/
    --bgcolor: #FAF4ED;
    --title_color: #FAF4ED;
    --txtcolor: #2C1C18;
    --errorcolor: #7C0A01;
    --buttoncolor_arancio: #C65C45;
    --buttoncolor_rosso: #73142F;
    --buttoncolor_rosso_hover: #991d40;
    
    --buttoncolor_nero: #2C1C18;
    --buttoncolor_nero_hover: #494140;

    --herelinkcolor_hover: #0f1657;

    --headerbgcolor: #73142F;

    --hintsuccess: #105724;

    --secondaryelementcolor: #B8D86C;
    --herelinkcolor: #000638;
    --linkcolor: #F3FF00;
    --visitedcolor: #FF9900;
}

/*  
    ===============================
            GENERALE PAGINA
    ===============================
*/

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: var(--bgcolor);
    overflow-x: hidden;
    height: 100%;
}

.inline{
    display: inline;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/header.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

header h1{
    font-size: 5em;
    padding-top: 2.5em;
    margin-bottom: -0.1em;
}

header h2.header_text{
    font-size: 2em;
    padding-bottom: 6em;
    font-weight: normal;
    margin: 0rem;
}

header .header_text{
    text-align: center;
    color: var(--title_color);
}

.hidden_header{
    background-image: none;
    min-height: 0;
    overflow: hidden;
}

.hidden_header .header_text, .hidden_testo{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

div#header{
    width: 100%;
}

a{
    color:var(--linkcolor);
    text-decoration: underline;
    text-align: center;
}

a:visited{
    color: var(--visitedcolor);
}

h1#title{
    font-size: 4em;
    color: var(--bgcolor)
}

h2, h3{
    margin: 1rem;
    font-size: 2em;
    color: var(--txtcolor);
    text-align: center;
}

h4{
    font-size: 1.7em;
    text-align: center;
}

p#title{
    margin-bottom: 2em;
    font-size: 1.3em;
}

button:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}

/*  
    ===============================
        AIUTI ALLA NAVIGAZIONE 
    ===============================
*/

.navigation ul {
    list-style-type: none;
}

.a_navigation{
    position: absolute;
    text-indent: -999em;
    background-color: var(--headerbgcolor);
}

.a_navigation:focus{
    position: absolute;
    text-indent: 0;
    background-color: var(--headerbgcolor);
    text-align: center;

    margin: auto;
    top: 10em;
    left: 1em;
}

/*  
    ===============================
            TOP NAVBAR 
    ===============================
*/
.navbar_top{
    background-color: var(--headerbgcolor);
    color: var(--title_color);
    display: inline-flex;
    overflow: hidden;
    position: relative;

    top: 0;
    width: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    opacity: 0.9;

    margin-bottom: 0;
}

/*  
    ===============================
            LOGO MENU 
    ===============================
*/

.hidden {
    text-indent: -999em;
    white-space: nowrap;
    overflow: hidden;
}

.logo-accessibile{
    background-image: url("../img/loghi/logo_colori_lato_scritta_bianca.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    color: white;

    margin-left: 0.5em;
    width: 5em;
    height: 2em;

    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

/*  
    ===============================
            MENU 
    ===============================
*/
#menu {
    list-style: none;
    margin-left: auto;
    display: inline-flex;
    padding: .3em 1.5em;
    justify-content: end;
    flex-direction: row;
    gap: 1em;

    text-align: center;
}

#menu li {
    padding: 0.2em 0.6em;
    color: var(--linkcolor);
    align-self: center;
}

#menu a {
    text-align: center;
    display: block;
}

#menu li#here {
    color: var(--title_color);
    background-color: var(--herelinkcolor);
    border-radius: 2em;
    padding: 0.4em 0.6em;
    pointer-events: none;
    border: 1px solid var(--title_color);
}

/* === MENU AD HAMBURGER === */

#menu-button{
    background-color: var(--headerbgcolor);
}

#menu-button{
    position: absolute;
    margin: -9999em;
}

/*  
    ===============================
            BREADCRUMB 
    ===============================
*/
#breadcrumb {
    color: var(--title_color);
    background-color: var(--headerbgcolor);

    width: 100%;
    position: relative;

    border-top: 1px solid var(--title_color);

    opacity: 0.9;
}

header #breadcrumb p{
    font-size: 1.1em;
    text-align: left;

    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

/*  
    ===============================
            FOOTER 
    ===============================
*/

footer {
    background-color: var(--txtcolor);
    color: var(--bgcolor);

    padding: 1.2em;
    text-align: center;

    display: inline-block;
    width: 100%;
}

footer p{
    display: inline-block;
    margin: auto 0.2em;
}

footer img {
    height: 2em;
    width: auto;
    vertical-align: middle;
}

footer .torna-su {
    display: block;
    margin-top: 0.5em;
}

/*
=====================================================================================================================================================
===============================                           CONTENUTI PAGINE                            ===============================================
=====================================================================================================================================================
*/

.section-divider {
    border: none;
    height: 2px;
    background-color: black;
    width: 100%;
}

.section-title{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 0.1em;
}

.section-descrizione{
    font-size: 1.2em;
    text-align: center;

    padding-left: 2em;
    padding-right: 2em;
}

/* --- FORM BIANCHI --- */

form.form-bianco{
    width: 90%;
    margin: 0 auto 2em auto;

    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;

    background-color: white;
    
    border: 2px solid black;
    border-radius: 0.5em;
}

form.form-bianco fieldset{
    width: 90%;
    border: none;

    display: flex;
    flex-direction: column;

    gap: 0.5em;

    padding: 0.5em;
}

form.form-bianco legend{
    text-align: center;
    padding-top: 0.5em;

    font-weight: bold;
    font-size: 1.7em;
}

form.form-bianco .form-label,
form.form-bianco h3,
form.form-bianco h4{
    font-weight: bold;
    font-size: 1.2em;
}

form.form-bianco .form-label::after,
form.form-bianco h3::after,
form.form-bianco h4::after{
    content: ":";
}

form.form-bianco small{
    text-align: center;
    margin-bottom: 0.5em;
}

form.form-bianco input,
form.form-bianco textarea,
#change-logo{
    padding: 0.5em;
    border: 1px solid #aaa;
    border-radius: 0.5em;

    text-align: center;
}

form.form-bianco textarea{
    font-size: 1em;
    resize: none;
    height: 100px;
}

form.form-bianco#login-user,
form.form-bianco#register-form,
form.form-bianco#change-personal-info,
form.form-bianco#change-password-email,
form.form-bianco#delete-account{
    margin-top: 1em;
    width: 70%;
}

form.form-bianco#filter-content{
    margin-top: 0;
    width: 90%;
}

form.form-bianco#login-user label,
form.form-bianco#register-form label,
form.form-bianco#change-personal-info label,
form.form-bianco#change-password-email label,
form.form-bianco#delete-account label{
    text-align: center;
    font-weight: bold;
}

form.form-bianco#login-user label::after,
form.form-bianco#register-form label::after,
form.form-bianco#change-personal-info label::after,
form.form-bianco#change-password-email label::after,
form.form-bianco#delete-account label::after{
    content: ":";
}

/* === BOTTONI === */

.bottoni-neri,
.bottoni-rossi,
.bottoni-link{
    border-radius: 1em;
    
    border: 1px solid var(--txtcolor);

    text-decoration: none;

    font-size: 1em;

    margin: 10px 0 10px 0;
    padding: 0.5em 1em;

    width: 10em;

    text-align: center;

    align-items: center;
    justify-content: center;

    cursor: pointer;
}

a.bottoni-rossi{
    color: white;
}

.bottoni-rossi{
    background-color: var(--buttoncolor_rosso);
    color: var(--title_color);
}

.bottoni-rossi:hover{
    background-color: var(--buttoncolor_rosso_hover);
}

.bottoni-link{
    background-color: var(--buttoncolor_rosso);
    color: var(--linkcolor);

    text-decoration: underline;
}

.bottoni-link:hover{
    background-color: var(--buttoncolor_rosso_hover);
}

.bottoni-neri{
    background-color: var(--buttoncolor_nero);
    color: var(--title_color);
    text-decoration: none;
}

.bottoni-neri:hover{
    background-color: var(--buttoncolor_nero_hover);
}

.button-container{
    justify-content: center;
    width: 100%;

    display: flex;

    text-align: center;
    gap: 1em;
}

/* Container Bottoni pagina prodotti */
.button-container#vertical{
    flex-direction: column;
    align-items: center;
    gap: 0em;
}

/* Container visualizza prodotto degustazione */
.button-container#degustazione-visualprodotto{
    justify-content: left;
}

#vertical button{
    width: 9em;
}

.promo-button{
    padding: 0.8em 2em;
    border-radius: 1em;

    font-weight: bold;
    font-size: 1.2em;
}

.promo-button#link-degustazione{
    background-color: var(--herelinkcolor);
    border: 1px solid var(--bgcolor);
}

.promo-button#link-degustazione:hover{
    background-color: var(--herelinkcolor_hover);
}

/*  
    ===============================
            PAGINA HOME 
    ===============================
*/

ul.products, ul#best-products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 1.5rem;
    border: 0.5rem;
    color: #FFFFFF;

    list-style: none;
}

ul#best-products{
    margin: 1rem 2rem;
}

li.new{
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
}

li.new article{
    margin: 1em;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: var(--txtcolor);
    border-radius: 0.9em;
    transition: .4s;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.25),
                0 0.8em 0.8em rgba(0, 0, 0, 0.22);
}

/* === BOX PROMOZIONALE CON BOTTONE === */

.promo-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 3em;
    flex-wrap: wrap;
    background-color: var(--secondaryelementcolor);
}

.promo-text{
    max-width: 80%;
    margin-right: 1em;
    margin-bottom: 1.5em;
}

.promo-text p{
    font-size: 1.5em;
}

.promo-text h2.promo-domanda{
    margin: 0;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 2em;
}

/* === BOX CATEGORIE PRODOTTI === */
#categorie{
    margin-bottom: 3em;
    text-align: center;
}

.categoria-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    margin-top: 1em;
}

.categoria-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 1em;
    background-color: white;
    border-radius: 12px;
    text-decoration: underline;
    color: var(--txtcolor);

    transition: .4s;
    box-shadow: 0 0.3em 0.3em rgba(0, 0, 0, 0.25),
                0 0.3em 0.3em rgba(0, 0, 0, 0.22);
}

.categoria-box:hover {
    transform: translate(0, -0.4em );
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.16),
                0 0.2em 0.4em rgba(0, 0, 0, 0.24);            
}

a.categoria-box:visited{
    color: var(--headerbgcolor);
    text-decoration: underline var(--headerbgcolor);
}

.categoria-box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 0.5em;
}

.categoria-box span {
    font-size: 1.1em;
    font-weight: bold;
}

/* === BOX DEGUSTAZIONI === */
#degustazioni-home {
    position: relative;

    background-image: url(../img/tavola-degustazioni.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: var(--title_color);
    overflow: hidden;
}

#degustazioni-home::before{
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--headerbgcolor);
    opacity: 0.7;
    z-index: 0;
}

#degustazioni-home > * {
    position: relative;
    z-index: 1;
}

#degustazioni-home h3{
    margin-top: 0;
    padding-top: 1em;
    color: var(--title_color);
}

#degustazioni-home p{
    font-size: 1.5em;
}

#degustazioni-home ul{
    list-style: none;
    padding: 30px;
}

#degustazioni-home ul li{
    font-size: 1.3em;
    position: relative;
    padding-left: 30px;
}

#degustazioni-home ul li::before{
    content: "";
    position: absolute;

    left: 0;
    top: 5px;
    width: 20px;
    height: 20px;

    background-image: url('../img/icone/forchettacoltello-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#degustazioni-home .promo-box{
    background-color: transparent;
    padding-top: 0;
}

/* === BOX RECENSIONI CLIENTI === */
.recensioni{
    background-color: var(--secondaryelementcolor);
    margin: 0;
}

.recensioni h3{
    margin: 0;
    padding-top: 1rem;
}

.recensioni-wrapper{
    position: relative;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    padding-left: 3rem;  
    padding-right: 3rem;
    padding-bottom: 1em;
}

.recensione-container {
    flex-grow: 1;
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 2.5rem 0 1rem 0;
    
    scroll-padding-left: 50%;
    scrollbar-width: thin;               
    scrollbar-color: #888 transparent;
}

.recensione-container::-webkit-scrollbar {
    height: 12px;
}

.recensione-container::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 6px;
}

.recensione-container::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
    transition: background-color 0.3s ease;
}

.recensione-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.6);
}

.recensione-card{
flex-shrink: 0;
    width: 300px;
    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: var(--bgcolor);
    border: 1px solid #ccc;
    border-radius: 8px;

    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    user-select: none;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    z-index: 9999;
    color: white;
}

.scroll-btn:hover {
    background-color: rgba(0,0,0,0.3);
}

.scroll-btn.left {
    left: -1rem;
    background-image: url("../img/icone/back-tri.svg");
}

.scroll-btn.right {
    right: -1rem;
    background-image: url("../img/icone/next-tri.svg");
}

.scroll-btn.left, .scroll-btn.right{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.singleproduct .recensione-container .recensione-card{
    background-color: white;
}

.recensione-foto{
    width: 80px;
    height: 80px;

    border-radius: 50%;
    background-color: #999;

    overflow: hidden;
    margin-top: -50px;
    margin-bottom: 0.5rem;

    border: 3px solid white;
}

.recensione-foto img{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    object-position: center;
}

.recensione-contenuto{
    text-align: center;
}

.recensione-cliente{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.recensione-data{
    font-size: 0.85rem;
    font-style: italic;
    margin: -0.25rem 0 0.5rem 0;
}

.recensione-testo{
    font-size: 1rem;
    line-height: 1.4;
    margin: 0.5rem 0;
}

.recensione-prodotto{
    margin-top: 1em;
    font-weight: bold;
}

.recensione-valutazione{
    font-weight: bold;
    color: var(--errorcolor);
    margin-top: 0.5rem;
}


/*  
    ===============================
            PAGINA PRODOTTI 
    ===============================
*/

div#list-content{
    margin: 0 1em;
    display: flex;
    justify-content: space-between;
}

aside#filter{
    display:flex;
    flex-direction: column;
    min-width: 25%;
}

div.filters{
    padding: 0.8em;
    display: flex;
    flex-direction: column;
}

div.filters input{
    margin: 1em 0 0 0;
    width: 10%;
    min-height: 1em;
}

div.filters p{
    text-align: center;
}

input#price, input#grade{
    width: 100%;
    padding: 0;
}

section#show-products{
    width: 75%;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    margin-left: 2.5em;
}

form#search, form#other-filters{
    margin: 1em 0 1em 1em;
    padding: 0 0.7em 0 0;
}

form#other-filters{
    display: flex;
    align-items: center;
    justify-content: center;
}

form#other-filters label{
    margin: 0.5em 1em;
    font-weight: bold;
    font-size: 1.1em;
}

select#select-for{
    border: 2px solid black;
    padding: 0.3em;
}

input#searching-bar, select#select-for{
    border-radius: 0.5em;
    min-height: 3.5vh;
    font-size: 1.1em;
    padding: 0.4em;
}

input#searching-bar{
    width: 100%;
}

ul#list{
    overflow: hidden;
    display: flex;
    padding: 0.7em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--bgcolor);
    width: 100%;
}

li.product-brochure {
    display: flex;
    flex-direction: column;
    width: 37.5%;
    margin: 0 0.5em 1em 0.5em;
    padding: 0;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: var(--txtcolor);
    text-align: center;
    border-radius: 0.9em;
    transition: .4s;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.25),
                0 0.8em 0.8em rgba(0, 0, 0, 0.22);
}

li.product-brochure:hover,li.new article:hover{
    transform: translate(0, -0.4em );
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.16),
                0 0.2em 0.4em rgba(0, 0, 0, 0.24);
}

li.product-brochure img,ul.products img,ul#best-products img{
    max-width: 75%;
    height: auto;
    margin: 1em 0;
    border-radius: 0.72em;
}

li.product-brochure a, li.new article a{
    background-color: var(--headerbgcolor);
    width: 100%;
    margin-top: 1.5em;
    border: 0;
    border-bottom-left-radius: 0.72em;
    border-bottom-right-radius: 0.72em;
    height: 100%;
    display: block;
    text-align: center;
    padding: 1em;
    bottom: 0;
}

h3.product-name, h4.product-name{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;

    padding: 0 1em;
}

div#product-pages{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
    gap: 1em;
}
/*  
    ===============================
            PAGINA CHI SIAMO
    ===============================
*/

#descrizione-storia-iniziale{
    text-align: justify;
}

#storia{
    margin-bottom: 3em;
}

#storia .section-divider{
    border: none;
    height: 3px;
    background-color: var(--headerbgcolor);
    width: 25%;
    margin: 2.5em auto;
}

/* GASTRONOMIA - STORIA PRIMA */
#storia-old {
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 2.5em;
}

/* GASTRONOMIA - STORIA NUOVA */
#storia-oggi{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2em;
    margin: 2.5em;
}

/* GASTRONOMIA - STORIA IN COMUNE */
#storia-old img, #storia-oggi img{
    width: 35%;
    height: auto;
    object-fit: cover;

    border-radius: 0.5em;
    border: 1px solid black;
}

#storia-old .testo, #storia-oggi .testo {
    width: 65%;
    display: flex;

    flex-direction: column;
    justify-content: center;

    align-items: flex-start;
}

#storia-old .testo h4, #storia-oggi .testo h4{
    width: 100%;
    color: var(--txtcolor);

    text-align: center;
    margin: 0 0 20px 0;
}

#storia-old .testo p, #storia-oggi .testo p{
    
    font-size: 1.2em;

    text-align: justify;
    margin: 0;
}

#chef-section-title{
    margin: 0;
    color: var(--title_color);

    z-index: 1;
}

#chisiamo-chef{
    background-image: url("../img/cucina.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    padding: 3em;
}

#chisiamo-chef::before{
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--txtcolor);
    opacity: 0.7;
    z-index: 0;
}

#chef-container{
    margin: 3em;
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

#chisiamo-chef article {
    background-color: var(--headerbgcolor);
    border: 1.5px solid black;
    border-radius: 0.5em;

    padding: 20px;
    flex: 1 1 300px;

    text-align: left;
}

#chisiamo-chef article h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;

    color: var(--bgcolor);
}

.chef-content {
    display: flex;
    align-items: center;
    gap: 20px;

    flex-direction: row;
}

.chef-content img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 0.5em;
}

.chef-content div {
    max-width: 100%
}

.chef-content p {
    color: var(--title_color);

    text-align: start;

    display: block;
    margin: 0;
}

.chef-content a {
    display: block;

    margin-top: 25px;
}

.chef-content-descrizione{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form#advice{
    margin-top: 2em;
}

form#advice textarea{
    height: 20vh;
}

#chisiamo-info{
    background-color: var(--secondaryelementcolor);

    padding: 1.5em 5em;

    text-align: center;
    color: var(--txtcolor);
}

#chisiamo-info h3{
    margin-top: 0em;
}

#chisiamo-info h4{
    margin-top: 1em;
}

#chisiamo-info h3,
#chisiamo-info h4 {
    margin-bottom: 0.5em;
    color: var(--txtcolor);
}

#chisiamo-info p {
    line-height: 1.6;
    font-size: 1.1rem;
    margin-bottom: 0.5em;
}

.chisiamo-bold {
    font-weight: bold;
}

/*DA METTERE NEL MOBILE*/

@media screen and (max-width: 767px) {
    #chisiamo-info {
        padding: 2em 3em;
    }

    #chisiamo-info p {
        font-size: 1rem;
    }
}

/*  
   =============================================
    PAGINA AREA RISERVATA, LOGIN, REGISTRAZIONE 
   =============================================
*/

.block{
    display: block;
}

.width{
    width: 100%;
}

#sub-title, form.privacy-area h3{
    text-align: center;
    margin-top: 1em;
}

form.privacy-area label, fieldset.user-form {
    text-align: left;
    font-weight: bold;
    margin-top: 1em;
}

form.privacy-area h3{
    margin-bottom: 2em;
}

form.privacy-area fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.privacy-area div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.privacy-area input , fieldset.user-form input{
    margin: 1em;
    width: 75%;
    border-radius: 0.5em;
    border: 3px solid #2C1C18;
    padding: 0.5em;
}

#register-form label,
#login-user label{
    display: block;
    margin-bottom: 0.5em;
}

#login-user div,
#register-form div,
#change-personal-info div,
#change-password-email div{
    margin-bottom: 1.5em;
}

#register-form input,
#change-personal-info input,
#change-password-email input{
    width: 100%;
}

div#to-register,
div#to-login,
div.info-sezione{
    text-align: center;
    background-color: var(--headerbgcolor);

    width: 100%;

    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;

    margin-bottom: 0;
}

.info-sezione{
    border-radius: 0.4em 0.4em 0 0;
}

div#to-register h4,
div#to-login h4{
    color: var(--bgcolor);
    margin: 1em 0;
}

div.info-sezione h3{
    color: var(--bgcolor);
    margin: 0.5em 0;
}

div#to-register h4::after,
div#to-login h4::after{
    content: "";
}

p.privacy-area{
    color: white;
    height: 100%;
}

p#register,p#login{ 
    width: 100%;
    margin: 1em 0;
}

/*  
    ===============================
            PAGINE UTENTE 
    ===============================
*/

div#favorites, div#user-info{
    display: flex;
    margin: 1.5em 2em;
    justify-content: center;
    align-items: center;
}

div#user-info img{
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.9),
                0 0.2em 0.4em rgba(0, 0, 0, 0.9);
}

div#user-info #general-info{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

#general-info{
    height: 100%;
    justify-content: space-between;
}

div#user-info img{
    border-radius: 50%;
}

a#prev{
    float: left;
}

a#next{
    float: right;
}

a#prev, a#next, img#prev, img#next{
    width: 4em;
    text-align: center;
}
div#favorites{
    display: flex;
    flex-direction: column;
}

ul#favorites-list{
    display: flex;
    list-style-type: none;
    overflow-x: hidden;
    overscroll-behavior-inline: contain;
}

div#user-settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 1em;
}

a#profile-settings{
    text-align: center;
    background-color: var(--headerbgcolor);
    padding: 1em;
    border-radius: 0.5em;
}
/*  
    ===================================
        PAGINA IMPOSTAZIONI UTENTE
    ===================================
*/
details {
    margin-top: 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    padding: 0;
    width: 100%;
    text-align: left;
}

summary {
    background-color: #f1f1f1;
    padding: 8px 8px;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    outline: none;

    border-radius: 0.5em;
}

.hints{
    background-color: #73142F;
    color: white;
}

summary::-webkit-details-marker {
    position: absolute;
    text-indent: -999em;
}

summary::after {
    content: "▼";
    float: right;
    transition: transform 0.3s ease;
    border-radius: 0.4em 0 0.4em 0;
}

details[open] summary::after {
    transform: rotate(180deg);
}

.suggestions-list {
    padding: 12px 25px 16px;
    margin: 0;
    font-size: 1em;
}

/* Focus visibile anche tramite tastiera */
summary:focus{
    box-shadow: 0 0 0 3px #4C0002;
}

/* Migliora accessibilità visiva */
@media (prefers-reduced-motion: reduce) {
    summary::after {
    transition: none;
    }
}

.success-hint{
    color: var(--hintsuccess);
}

.fail-hint{
    color: var(--errorcolor);
}

#new-logo{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#new-logo img{
    width: 8em;
    height: 8em;
    border-radius: 50%;

    margin-top: 1.5em;
}


/*  
    ===============================
            PAGINA DEGUSTAZIONE 
    ===============================
*/

@media screen and (max-width: 1000px) {
    .singleproduct,
    .singledegustazione{
        flex-direction: column;
    }
}

.singledegustazione_main{
    margin-top: 2em;
}

.degustazione-card {
    display: flex;

    background-color: white;
    border-radius: 0.9em;

    overflow: hidden;

    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
                
    margin: 20px auto;

    max-width: 90%;
}

.degustazione-card img{
    width: 250px;
    height: auto;
    object-fit: cover;
}

.degustazione-contenuto{
    flex: 1;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.degustazione-contenuto h2, .degustazione-contenuto p{
    margin: 1em 0 1em;
}

p.degustazione-nondisponibile#degustazione-singola {
    margin-top: 2em;
    margin-bottom: 1em;
}

.degustazione-contenuto p.degustazione-nondisponibile{
    margin-bottom: 0;
}

.degustazione-dettagli{
    margin-top: 0.5em;
}

.singledegustazione-descrizione p{
    margin-top: 1em;
}

.singledegustazione-descrizione .degustazione-dettagli{
    margin-top: 2.5em;
}

/* === CONTENUTO DEGUSTAZIONE === 

    Alcuni CSS si trovano nella sezione seguente "PAGINA PRODOTTO".
    Questa scelta è stata effettuata per dare maggiore uniformità al codice CSS e alla grafica del sito

*/

.degustazione-bold{
    font-weight: bold;
}

.degustazione-persone::before{
    background-image: url('../img/icone/persona-nero.svg');
}

.degustazione-prenotazione::before{
    background-image: url('../img/icone/calendario-nero.svg');
}

.degustazione-prezzo::before{
    background-image: url('../img/icone/costo-nero.svg');
}

.degustazione-prodotto::before{
    background-image: url('../img/icone/descrizione-nero.svg');
}

.degustazione-prenota{
    margin-top: 1.5em;
}

input#data-prenotazione{
    width: 100%;
}

form#prenotazione-degustazione #quantita{
    width: 100%;
}

/*  
    ===============================
            PAGINA PRODOTTO 
    ===============================
*/
.singleproduct_main{
    margin-top: 2em;
}

.singleproduct,
.singledegustazione{
    display: flex;

    flex-wrap: wrap;
    margin-top: 0.5em;
    margin-left: 3em;
    margin-right: 3em;

    gap: 1em;
}

.singleproduct-intestazione,
.singledegustazione-intestazione{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.singleproduct-intestazione h3,
.singledegustazione-intestazione h3{
    color: var(--headerbgcolor);

    text-align: left;
    font-weight: bold;
    font-size: 2em;

    margin: 0;
}

#singleproduct-stella {
    background: none;
    border: none;

    padding: 0;
    cursor: pointer;
}

#singleproduct-stella img {
    width: 40px;
    height: auto;
}

.singleproduct h4::before,
.singledegustazione h4::before{
    content: "";
    display: inline-block;
    position: relative;

    left: 0;
    margin-right: 0.3em;
    width: 20px;
    height: 20px;

    background-size: contain;

    background-image: url('../img/icone/valutazione-nero.svg');
}

.singleproduct h4::after
.singledegustazione h4::after{
    content: ":";
}

.singleproduct-img,
.singledegustazione-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleproduct-img, .singleproduct-descrizione,
.singledegustazione-img, .singledegustazione-descrizione{
    flex: 1 1 300px;
    padding: 0 1rem 1rem 1rem;
}

.singleproduct-img img,
.singledegustazione-img img{

    aspect-ratio: 1/1;
    width: 600px;
    height: auto;

    max-width: 90%;
    max-height: 90%;

    object-fit: cover;

    display: block;

    border-radius: 4px;
    border: 1px solid var(--title_color);
}

.section-singleproduct,
.section-singledegustazione{
    height: 5px;
    background-color: var(--headerbgcolor)
}

/* === CONTENUTO SINGOLO PRODOTTO e DEGUSTAZIONE === */
#singleproduct-diete{
    margin-top: 1em;
    margin-bottom: 1em;
}

#singleproduct-diete img{
    margin-right: 0.8em;

    height: 70px;
    width: auto;
}

.diet-label {
    position: absolute;
    text-indent: -999em;
}

.singleproduct-dettagli dt,
.degustazione-dettagli dt{
    font-weight: bold;
    font-size: 1.2em;
}

.singleproduct-dettagli dt::after,
.degustazione-dettagli dt::after{
    content: ":";
}

.singleproduct-dettagli dt,
.singleproduct-dettagli dd,
.degustazione-dettagli dt,
.degustazione-dettagli dd {
    display: inline-block;
}

.singleproduct-dettagli,
.degustazione-dettagli{
    display: grid;
    grid-template-columns: max-content 1fr;

    row-gap: 0.5em;
    column-gap: 1em;
    grid-gap: 1.5em;

    align-items: baseline;
}

#prodotto-ingredienti::before,
#prodotto-descrizione::before,
#prodotto-categoria::before,
#prodotto-valutazione::before,
#prodotto-prezzo::before,
.degustazione-prenotazione::before,
.degustazione-persone::before,
.degustazione-prezzo::before,
.degustazione-prodotto::before{
    content: "";
    display: inline-block;
    position: relative;

    left: 0;
    margin-right: 0.3em;
    width: 20px;
    height: 20px;

    background-size: contain;
}

#prodotto-categoria::before{
    background-image: url('../img/icone/categoria-nero.svg');
}

#prodotto-descrizione::before{
    background-image: url('../img/icone/descrizione-nero.svg');
}

#prodotto-ingredienti::before{
    background-image: url('../img/icone/ingredienti-nero.svg');
}

#prodotto-valutazione::before{
    background-image: url('../img/icone/star.svg');
}

#prodotto-valutazione-testo::after{
    content: " / 5 stelle";
}

#prodotto-prezzo-testo, .prodotto-prezzo-testo{
    font-size: 1.5em;
    font-weight: bold;
}

#prodotto-prezzo-unita{
    font-weight: normal;
}

#prodotto-nondisponibile,
.degustazione-nondisponibile{
    text-align: center;
    font-weight: bolder;
    font-size: 1.7em;

    color: var(--errorcolor);

    margin-top: 1em;
}

#aggiungi-prenotazione{
    margin-top: 1em;
}

form#prenotazione #quantita{
    width: 100%;
}

#quantita-unita{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1em;
}

label#order-label{
    display: block;
}

#data-ritiro{
    width: 100%;
}

.descrizione-quantita {
    font-size: 0.9em;
    color: #666;
}


/* === AREA COMMENTI === */

.singleproduct-rating dt,
.singleproduct-rating dd {
    display: inline-block;
}

.singleproduct-rating {
    display: grid;
    grid-template-columns: max-content 1fr;

    row-gap: 0.5em;
    column-gap: 1em;
    grid-gap: 1.5em;

    align-items: baseline;
}

.singleproduct-rating dt{
    font-weight: bold;

    font-size: 1.2em;
}

.singleproduct-rating dt::after{
    content: ":";
}

h3 + .singleproduct-rating {
    width: 100%;
    margin-top: 0.5em;
}

.rating-stars{
    display: flex;
    gap: 0.5em;
}

.rating-stars span{
    font-size: 1.8em;
}

.rating input{
    position: absolute;
    left: -9999px;
}

.rating input:focus + label {
    outline: 2px solid black;
    outline-offset: 2px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating label {
    font-size: 2rem;

    color: #1a2c2c;
    cursor: pointer;

    margin-top: -0.5em;
    margin-bottom: -0.2em;
}

.rating input:checked ~ label {
    color: #B25500;
}

.rating label:hover,
.rating label:hover ~ label {
    color: #B25500;
}

#elimina-valutazione{
    flex-basis: 100%;
    width: 100%;
    margin: 1rem 0;
}

#user-comment{
    height: 20vh;
    padding: 1em;
    border-radius: 0.5em;
}

/*  
    ===============================
            PAGINE ERRORI 
    ===============================
*/

.error_main h3{
    color: var(--errorcolor);

    text-align: center;
    font-weight: bold;
    font-size: 3em;
    padding-top: 0.2em;
}

.error_main h4{
    color: var(--errorcolor);

    text-align: center;
    font-weight: bold;
    font-size: 2em;

    margin: 1rem;
}

.error_main img{
    display: block;
    margin: 0 auto;

    width: auto;
    height: 400px;
}

.error-description{
    color: var(--txtcolor);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0.5em;

    text-align: center;
    font-size: 1.5em;
}

/* === MESSAGGI DI ERRORE */

.error{
    color: var(--errorcolor);
    display: block;
    text-align: center;
    margin: 0.2em;
    font-weight: bold;
}

button#submit-register.not-available, 
button#submit-user-setting.not-available, 
button#submit-password-setting.not-available,
button#submit-login.not-available,
button#submit-advice.not-available,
button#reset-advice.not-available,
button#reset-comment.not-available,
button#submit-comment.not-available,
button#submit-order.not-available,
button#reset-user-setting.not-available,
button#reset-password-setting.not-available,
button#submit-reservation.not-available{
    opacity: 0.6;
    cursor: not-allowed;
}

/* ================================================= */