/*  
    ===============================
            GENERALE PAGINA
    ===============================
*/
/*BOTTONI ANNULLA-CONFERMA*/
.button-container{
    gap: 0.5em;
}

a{
    color:var(--linkcolor);
    text-decoration: underline;
    text-align: center;
}

a:visited{
    color: var(--visitedcolor);
}

header h1{
    font-size: 3.2em;
    padding-top: 1.8em;
    margin-bottom: -0.1em;
}

header h2.header_text{
    font-size: 1.2em;
    padding-bottom: 5.3em;
    font-weight: normal;
    margin: 0rem;
}

form.form-bianco#login-user, 
form.form-bianco#register-form, 
form.form-bianco#change-personal-info, 
form.form-bianco#change-password-email, 
form.form-bianco#delete-account,
#storia-old .testo,
#storia-oggi .testo,
#storia-old img, 
#storia-oggi img {
    width: 95%;
}

/*  
    ===============================
            TOP NAVBAR 
    ===============================
*/

.navbar_top{
    background-color: var(--headerbgcolor);
    color: var(--title_color);
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;

    position: relative;

    top: 0;
    width: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    margin-bottom: 0;

    z-index: 9999;
}

/*  
    ===============================
            LOGO MENU 
    ===============================
*/

.hidden {
    text-indent: -999em;
    white-space: nowrap;
    overflow: hidden;
}

.logo-accessibile{
    background-image: url("../img/loghi/logo_colori_lato_scritta_bianca.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    color: white;

    margin-left: 0.5em;
    width: 5em;
    height: 2em;

    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

/*  
    ===============================
                MENU 
    ===============================
*/

.navbar_top #menu{
    display: inline-block;

    margin-left: 2em;
    margin-right: 2em;

    justify-content: space-between;
}

#menu li {
    padding: 0.2em;
    color: var(--linkcolor);
    align-self: center;

    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.navbar_top #menu-button{

    position: absolute;

    top: 0;
    right: 0;

    margin-top: 1.5em;
    margin-bottom: 0.2em;
    margin-right: 1em;

    padding: 0.5em 0.5em;

    border: none;

    display: inline-block;
    justify-content: space-between;
    cursor: pointer;
}

#menu-button[data-hidden="false"] + #menu{
    flex-direction: column;
    
    text-align: center;
    z-index: 9999;
}

#menu-button[data-hidden="true"] + #menu{
    position: absolute;
    margin: -9999em;
}

#menu-button[data-hidden="false"] + #menu a{
    pointer-events: auto;
}

#menu-button[data-hidden="true"] + #menu a{
    pointer-events: none;
}

#menu-button[data-hidden="false"] + #menu a:visited{
    color: var(--visitedcolor);
}

#menu-button[data-hidden="false"] + #menu li#here {
    color: var(--title_color);
    background-color: var(--herelinkcolor);

    pointer-events: none;

    text-decoration: none;

    border-radius: 2em;
    border: 1px solid var(--title_color);

    padding: 0.4em 0.6em;
}

#menu-button .menu-button-1,
#menu-button .menu-button-2,
#menu-button .menu-button-3{
    width: 2em;
    height: 0.3em;

    background-color: white;

    border-radius: 1em;
    margin: 0.4em 0;

    transition: 0.4s;
    display: block;
}

#menu-button[data-hidden="false"] .menu-button-1 {
    transform: translate(0, 0.7em) rotate(-45deg);
}
  
#menu-button[data-hidden="false"] > .menu-button-2 {
    opacity: 0;
}
  
#menu-button[data-hidden="false"] > .menu-button-3 {
    transform: translate(0, -0.7em) rotate(45deg);
}

/*
=====================================================================================================================================================
===============================                           CONTENUTI PAGINE                            ===============================================
=====================================================================================================================================================
*/

#elimination-buttons button {
    width: 55%;
}

.section-divider {
    border: none;
    height: 2px;
    background-color: black;
    width: 100%;
}

.section-title{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 0.1em;
}

.section-descrizione{
    font-size: 1.1em;
    text-align: center;

    padding-left: 1.8em;
    padding-right: 1.8em;
}

/*  
    ===============================
            PAGINA HOME 
    ===============================
*/

ul#best-products {
    margin: 0rem 2rem 0rem 2rem;
}

#degustazioni-home p{
    font-size: 1.1em;
}

#degustazioni-home ul li{
    font-size: 1.1em;
}   

/*
    == SEZIONE ESPLORA RICETTE
*/

.promo-box{
    padding: 1em 2em 2.5em 2em;
}

.promo-text p {
    font-size: 1.1em;
    margin-bottom: 1em;
}

.promo-text h3.promo-domanda{
    margin: 0;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.8em;
}

/* === BOX RECENSIONI CLIENTI === */
.recensione-container {
    gap: 1rem;
    padding: 1rem 0 1rem 0;
}

.recensione-card{
    padding: 0.5rem;
}

/*  
    ===============================
            PAGINA PRODOTTI 
    ===============================
*/

form.form-bianco#filter-content{
    width: 100%;
}

html div#list-content{
    flex-direction: column;
}

html div#list-content #first{
    display: inline-flex;
    justify-content: center;
}

html div#list-content #vertical{
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 480px) {
    #vertical button{
        width: 6em;
    }
    html div#list-content #vertical{
        gap: 0.5em;
    }
    form#other-filters{
        flex-direction: column;
    }
    li.product-brochure{
        width: 100%;
    }
    .bottoni-neri, .bottoni-rossi, .bottoni-link{
        width: 6.2em;
    }
    div.degustazione-prenota .bottoni-rossi{
        width: 10em;
    }
    #elimina-valutazione div button{
        width: 8.5em;
    }
    #elimination-buttons button {
        width: 77%;
    }
    form#product-pages button#prev, form#product-pages button#next{
        width: 3em;
        height: 3em;
    }

}

@media screen and (max-width: 338px){
    article.singleproduct, article.singledegustazione{
        margin-left: 0.6em;
    }
}

html section#show-products{
    width: 100%;
    margin: 1em 0;
}

/*  
    ===============================
            PAGINA DEGUSTAZIONI 
    ===============================
*/

.degustazione-card{
    flex-direction: column;
}

.degustazione-card img{
    width: 100%;
    height: 30vh;
}

.degustazione-contenuto h3{
    margin-top: 0em;
    margin-bottom: 0em;
}

.degustazione-contenuto p{
    text-align: center;
}

.degustazione-dettagli{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-container#degustazione-visualprodotto{
    justify-content: center;
    align-items: center;
}

/*  
    ===============================
            PAGINA PRODOTTO 
    ===============================
*/

.singleproduct-dettagli, .singleproduct-rating{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.singleproduct_main{
    margin-top: 1em;
}


.singleproduct,
.singledegustazione{
    display: flex;

    flex-wrap: wrap;
    margin-top: 0.5em;
    margin-left: 1.2em;
    margin-right: 1.2em;

    gap: 1em;
}


.singleproduct-img, 
.singleproduct-descrizione, 
.singledegustazione-img, 
.singledegustazione-descrizione{
    padding: 0.5em;
}

#singleproduct-diete{
    display: flex;
    align-items: center;
    justify-content: center;
}

.degustazione-dettagli dt,
.degustazione-dettagli dd{
    text-align: center;
    width: 100%;
}

.singleproduct-dettagli dt, 
.singleproduct-dettagli dd,
.singleproduct-rating dt, 
.singleproduct-rating dd{
    text-align: left;
    width: 100%;
}

.singleproduct-dettagli dd li{
    list-style-position: inside;
}

form#valutazione,#prenotazione{
    width: 100%;
}

#prenotazione fieldset, #valutazione fieldset{
    gap: 1em;
    text-align: center;
}

#user-comment{
    width: 100%;
    height: 30vh;
}

/*  
    ===============================
            PAGINA CHI SIAMO 
    ===============================
*/

#storia-old, #storia-oggi{
    flex-direction: column;
}

#storia-old .testo p, #storia-oggi .testo p{
    font-size: 1.1em;
}

div .chef-content{
    flex-direction: column;
}

#chisiamo-chef {
    padding: 2em;
}

#chef-section-title{
    padding-bottom: 0.5em;
}

#chef-container{
    margin: 0;
}

.chef-content a{
    display: inline;
    word-break: break-all;
}

/*  
    ===============================
            USER PROFILE 
    ===============================
*/

@media screen and (max-width: 768px){
    #user-profile-prodotti li img,
    .userprofile-brochure-content img{
        max-width: 60%;
        height: auto;
    }
}

#user-profile-summary .button-container{
    flex-wrap: wrap;
    justify-content: center;
}

#user-info{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 15px;

    max-width: 90%;
}

.user-avatar{
    width: 40%;
    height: 40%;

    margin: 0 0 15px 0;
}

#general-info {
    gap: 8px;
}

#general-info dl{
    flex-direction: column;
    align-items: center;
}

#general-info dl dt:not(:first-of-type){
    width: auto;
    margin-top: 0.5em;
}

#general-info dl dd:not(:first-of-type){
    width: auto;
    margin-top: 0.2em;
}

#general-info dl dd#user-name {
    font-size: 1.3rem;
}

/*  
    ===============================
    ERRORI, RINGRAZIAMENTO e CONFERMA
    ===============================
*/

.error_main img,
.ringraziamento img,
#confirm-section img {
    width: 90%;
    height: auto;
}

.error_main h3,
.ringraziamento h3{
    font-size: 2.2em;
}

#confirm-section h3, .ringraziamento h3{
    font-size: 2.7em;
}

.error-description{
    font-size: 1.2em;
}

/*  
    ===============================
            FORM 
    ===============================
*/

#to-register,
#to-login{
    padding-left: 5px;
    padding-right: 5px;
}
 