
/*  
    ===============================
                MENU 
    ===============================
*/


#menu-button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    z-index: 999;
}

#menu-button span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
}

#menu {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 998;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

#menu.show {
    display: flex;
}

/*PAGINA PRODOTTI*/
form.form-bianco#filter-content{
    width: 100%;
}

html div#list-content{
    flex-direction: column;
}

html div#list-content #first{
    display: inline-flex;
    justify-content: center;
}

html div#list-content #vertical{
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 480px) {
    #vertical button {
        width: 6em;
    }
    html div#list-content #vertical{
        gap: 0.5em;
    }
    form#other-filters{
        flex-direction: column;
    }
    li.product-brochure{
        width: 100%;
    }
}

html section#show-products{
    width: 100%;
    margin: 1em 0;
}