*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

:root {
    /*COLORI*/
    --bgcolor: #FAF4ED;
    --title_color: #FAF4ED;
    --txtcolor: #2C1C18;
    --errorcolor: #7C0A01;
    --buttoncolor_arancio: #C65C45;
    --buttoncolor_rosso: #73142F;
    --buttoncolor_rosso_hover: #991d40;
    --headerbgcolor: #73142F;
    /*--secondaryelementcolor: #7A9884;*/
    /*--secondaryelementcolor:#84E79B;*/
    --secondaryelementcolor: #B8D86C;
    --herelinkcolor: #000638;
    --linkcolor: #F3FF00;

    /*TESTO*/
    --title: 5em;
    --menu: 1.5em;
}

/*  
    ===============================
            GENERALE PAGINA
    ===============================
*/

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: var(--bgcolor);
    overflow-x: hidden;
    height: 100%;
}

.display-none{
    display: none;
}

.inline{
    display: inline;
}

header{
    background-image:url(../../img/header.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 70vh;
}

header h1{
    font-size: 5em;
    padding-top: 1.6em;
    margin-bottom: -0.1em;
}

header p{
    font-size: 2em;
    padding-bottom: 4.5em;
}

header .header_text{
    text-align: center;
    color: var(--title_color);
}

.hidden_header{
    background-image: none;
    min-height: 0vh;
}

.hidden_header .header_text{
    display: none;
}

div#header{
    width: 100%;
}

a{
    color:var(--linkcolor);
    text-decoration: underline;
    text-align: center;
}

h1#title{
    font-size: 4em;
    color: var(--bgcolor)
}

h2{
    margin: 1rem;
    font-size: 2em;
    color: var(--txtcolor);
    text-align: center;
}

h3{
    font-size: 1.7em;
    text-align: center;
}

p#title{
    margin-bottom: 2em;
    font-size: 1.3em;
}



/*  
    ===============================
        AIUTI ALLA NAVIGAZIONE 
    ===============================
*/

.navigation ul {
    list-style-type: none;
}

.a_navigation{
    position: absolute;
    text-indent: -999em;
    background-color: var(--headerbgcolor);
}

.a_navigation:focus{
    position: absolute;
    text-indent: 0;
    background-color: var(--headerbgcolor);
    text-align: center;

    margin: auto;
    top: 10em;
    left: 1em;
}

/*  
    ===============================
            TOP NAVBAR 
    ===============================
*/
.navbar_top{
    background-color: var(--headerbgcolor);
    color: var(--title_color);
    display: inline-flex;
    overflow: hidden;
    position: relative;

    top: 0;
    width: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    opacity: 0.9;

    margin-bottom: 0;
}

/*  
    ===============================
            LOGO MENU 
    ===============================
*/

.hidden {
    text-indent: -999em;
    white-space: nowrap;
    overflow: hidden;
}

.logo-accessibile{
    background-image: url("../../img/loghi/logo_colori_lato_scritta_bianca.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 0.5em;
    width: 5em;
    height: 2em;

    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

/*  
    ===============================
            MENU 
    ===============================
*/
#menu {
    list-style: none;
    margin-left: auto;
    display: inline-flex;
    padding: .3em 1.5em;
    justify-content: end;
    flex-direction: row;
    gap: 1em;

    text-align: center;
}

#menu li {
    padding: 0.2em 0.6em;
    color: var(--linkcolor);
    align-self: center;
}

#menu a {
    text-align: center;
    display: block;
}

#menu li#here {
    color: var(--title_color);
    background-color: var(--herelinkcolor);
    border-radius: 2em;
    padding: 0.4em 0.6em;
    pointer-events: none;
    border: 1px solid var(--title_color);
}

/* === MENU AD HAMBURGER === */

#menu-button{
    background-color: var(--headerbgcolor);
}

#menu-button[data-hidden="false"]{
    position: absolute;
    margin: -9999em;
}

/*  
    ===============================
            BREADCRUMB 
    ===============================
*/
#breadcrumb {
    color: var(--title_color);
    background-color: var(--headerbgcolor);

    width: 100%;
    position: relative;

    border-top: 1px solid var(--title_color);

    opacity: 0.9;
}

header #breadcrumb p{
    font-size: 1.1em;
    text-align: left;

    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

/*  
    ===============================
            FOOTER 
    ===============================
*/

footer {
    background-color: var(--txtcolor);
    color: var(--bgcolor);

    padding: 1.2em;
    text-align: center;

    display: inline-block;
    width: 100%;
}

footer p{
    display: inline-block;
    margin: auto 0.2em;
}

footer img {
    height: 2em;
    width: auto;
    vertical-align: middle;
}

footer .torna-su {
    display: block;
    margin-top: 0.5em;
}

/*
=====================================================================================================================================================
===============================                           CONTENUTI PAGINE                            ===============================================
=====================================================================================================================================================
*/

.section-divider {
    border: none;
    height: 2px;
    background-color: black;
    width: 100%;
}

.section-title{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 0.1em;
}

.section-descrizione{
    font-size: 1.2em;
    text-align: center;

    padding-left: 2em;
    padding-right: 2em;
}

/* === BOTTONI === */
.bottoni-rossi{
    border-radius: 1em;

    background-color: var(--buttoncolor_rosso);
    color: var(--title_color);
    text-decoration: none;

    font-size: 1em;

    margin: 10px auto 0;
    padding: 0.5em 1em;

    display: block;
    text-align: center;

    cursor: pointer;
}

.bottoni-rossi:hover{
    background-color: var(--buttoncolor_rosso_hover);
}

.bottoni-neri{
    border-radius: 1em;

    background-color: var(--txtcolor);
    color: var(--title_color);
    text-decoration: none;

    font-size: 1em;

    margin: 10px auto 0;
    padding: 0.5em 1em;

    display: block;
    text-align: center;

    cursor: pointer;
}

.bottoni-neri:hover{
    background-color: var(--buttoncolor_rosso_hover);
}

/* === FORM SUGGERIMENTI === */

form#advice{
    margin: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

form#advice fieldset{
    width: 75%;
    margin: 1em;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: black;
    color: var(--bgcolor);

    border: 3px solid black;
    border-radius: 0.5em;
}

form#advice label{
    margin-top: 1em;
}

form#advice textarea{
    padding: 1em;
    margin: 1.5em 1em 2em 1em;
    height: 30vh;
    resize: none;
}

div#buttons-advice{
    display: flex;
    justify-content: center;
    width: 100%;
}

/*  
    ===============================
            PAGINA HOME 
    ===============================
*/

ul.products,ul#best-products{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    border: 0.5rem;
    color: #FFFFFF;
}

ul#best-products{
    margin: 1rem 2rem;
}

li.new{
    width: 33%;
    list-style-type: none;
    margin: 1em;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: var(--txtcolor);
    border-radius: 0.9em;
    transition: .4s;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.25),
                0 0.8em 0.8em rgba(0, 0, 0, 0.22);
}

/* === BOX PROMOZIONALE CON BOTTONE === */

.promo-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 3em;
    flex-wrap: wrap;
    background-color: var(--secondaryelementcolor);
}

.promo-text{
    max-width: 60%;
}

.promo-text p{
    font-size: 1.5em;
}

.promo-text h2.promo-domanda{
    margin: 0;
    font-weight: bold;
    font-size: 2em;
}

.promo-button{
    color: var(--title_color);
    text-decoration: none;

    padding: 0.8em 2.2em;
    border-radius: 2em;

    font-weight: bold;
    font-size: 1.8em;
}

.promo-button .button{
    background-color: var(--headerbgcolor);
    border-radius: 2em;
    padding: 0.4em 0.6em;

    border: 1px solid var(--txtcolor);
}
#link-degustazione{
    background-color: var(--herelinkcolor);
    border: 1px solid white;
}
/*.promo-button .button:hover{
    background-color: #dbd3ca;
}*/

/* === BOX CATEGORIE PRODOTTI === */
#categorie{
    margin-bottom: 3em;
    text-align: center;
}

.categoria-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    margin-top: 1em;
}

.categoria-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 1em;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
}

.categoria-box:hover {
    transform: translate(0, -0.4em );
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.16),
                0 0.2em 0.4em rgba(0, 0, 0, 0.24);
}

.categoria-box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 0.5em;
}

.categoria-box span {
    font-size: 1.1em;
    font-weight: bold;
}

/* === BOX DEGUSTAZIONI === */
#degustazioni-home {
    position: relative;

    background-image: url(../../img/tavola-degustazioni.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: var(--title_color);
    overflow: hidden;
}

#degustazioni-home::before{
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--headerbgcolor);
    opacity: 0.7;
    z-index: 0;
}

#degustazioni-home > * {
    position: relative;
    z-index: 1;
}

#degustazioni-home h2{
    margin-top: 0;
    padding-top: 1em;
    color: var(--title_color);
}

#degustazioni-home p{
    font-size: 1.5em;
}

#degustazioni-home ul{
    list-style: none;
    padding: 30px;
}

#degustazioni-home ul li{
    font-size: 1.3em;
    position: relative;
    padding-left: 30px;
}

#degustazioni-home ul li::before{
    content: "";
    position: absolute;

    left: 0;
    top: 5px;
    width: 20px;
    height: 20px;

    background-image: url('../../img/icone/forchettacoltello-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#degustazioni-home .promo-box{
    background-color: transparent;
    padding-top: 0;
}

/* === BOX RECENSIONI CLIENTI === */
#recensioni-home{
    background-color: var(--secondaryelementcolor);
    margin: 0;
}

#recensioni-home h2{
    margin: 0;
    padding-top: 1rem;
}

.recensione-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 2rem;
    padding: 2rem 1rem;
}

.recensione-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: var(--bgcolor);
    border: 1px solid #ccc;
    border-radius: 8px;

    padding: 1rem;
    margin: 1rem;
    width: 300px;
    
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.recensione-foto{
    width: 80px;
    height: 80px;

    border-radius: 50%;
    background-color: #999;

    overflow: hidden;
    margin-top: -50px;
    margin-bottom: 0.5rem;

    border: 3px solid white;
}

.recensione-foto img{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    object-position: center;
}

.recensione-contenuto{
    text-align: center;
}

.recensione-cliente{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.recensione-testo{
    font-size: 1rem;
    line-height: 1.4;
    margin: 0.5rem 0;
}

.recensione-valutazione{
    font-weight: bold;
    color: var(--errorcolor);
    margin-top: 0.5rem;
}


/*  
    ===============================
            PAGINA PRODOTTI 
    ===============================
*/

div#list-content{
    margin: 1em;
    display: flex;
    justify-content: space-between;
}

aside#filter{
    display:flex;
    flex-direction: column;
    width: 23.5%;
}

aside#filter fieldset{
    border: 3px solid black;
}

div.filters{
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    background-color: var(--bgcolor);
}

div.filters input{
    margin: 1em 0 0 0;
    width: 10%;
    min-height: 1em;
}

input#price, input#grade{
    width: 100%;
}

div.buttons{
    display: flex;
    flex-direction: column;
    margin: 1em 0 1em 0
}

button#reset-filters, button.reset-setting, button#reset-advice{
    background-color: var(--txtcolor);
    color: var(--bgcolor);
    padding: 1em;
}

button#submit-filters, button.submit-setting, button#submit-advice{
    background-color: var(--headerbgcolor);
    color: var(--bgcolor);
    margin-top: 1em;
    padding: 1em;
}

section#show-products{
    width: 74.5%;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    margin-left: 5em;
}

form#search, form#other-filters{
    margin: 1em 0 1em 1em;
    padding: 0 0.7em 0 0;
}

form#other-filters{
    display: flex;
    align-items: center;
    justify-content: center;
}

form#other-filters label{
    margin: 0.5em 1em;
    font-weight: bold;
    font-size: 1.1em;
}

select#select-for{
    border: 2px solid black;
    padding: 0.3em;
}

input#searching-bar, select#select-for{
    border-radius: 0.5em;
    min-height: 3.5vh;
    font-size: 1.1em;
    padding: 0.4em;
}

input#searching-bar{
    width: 100%;
}

ul#list{
    overflow: hidden;
    display: flex;
    padding: 0.7em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--bgcolor);
    width: 100%;
}

li.product-brochure {
    display: flex;
    flex-direction: column;
    width: 37.5%;
    margin: 0 0.5em 1em 0.5em;
    padding: 0;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: var(--txtcolor);
    text-align: center;
    border-radius: 0.9em;
    transition: .4s;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.25),
                0 0.8em 0.8em rgba(0, 0, 0, 0.22);
}

li.product-brochure:hover,li.new:hover{
    transform: translate(0, -0.4em );
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.16),
                0 0.2em 0.4em rgba(0, 0, 0, 0.24);
}

li.product-brochure img,ul.products img,ul#best-products img{
    max-width: 75%;
    height: auto;
    margin: 1em 0;
    border-radius: 0.72em;
}

li.product-brochure a, li.new a{/*.new -> HOME*/
    background-color: var(--headerbgcolor);
    width: 100%;
    margin-top: 1.5em;
    border: 0;
    border-bottom-left-radius: 0.72em;
    border-bottom-right-radius: 0.72em;
    height: 100%;
    display: block;
    text-align: center;
    padding: 1em;
    bottom: 0;
}

p.product-name{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

div#product-pages{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.5em 0;
    width: 25em;
}
/*  
    ===============================
            PAGINA CHI SIAMO
    ===============================
*/

#descrizione-storia-iniziale{
    text-align: justify;
}

#storia{
    margin-top: 3em;
    margin-bottom: 3em;
}

/* GASTRONOMIA - STORIA PRIMA */
#storia-old {
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 2em;
}

/* GASTRONOMIA - STORIA NUOVA */
#storia-oggi{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2em;
    margin: 2em;
}

/* GASTRONOMIA - STORIA IN COMUNE */
#storia-old img, #storia-oggi img{
    width: 35%;
    height: auto;
    object-fit: cover;

    border-radius: 0.5em;
    border: 1px solid black;
}

#storia-old .testo, #storia-oggi .testo {
    width: 65%;
    display: flex;

    flex-direction: column;
    justify-content: center;

    align-items: flex-start;
}

#storia-old .testo h3, #storia-oggi .testo h3{
    width: 100%;
    color: var(--txtcolor);

    text-align: center;
    margin: 0 0 10px 0;
}

#storia-old .testo p, #storia-oggi .testo p{
    
    font-size: 1.2em;

    text-align: justify;
    margin: 0;
}

#chef-section-title{
    margin: 0;
    color: var(--title_color);

    z-index: 1;
}

#chisiamo-chef{
    background-image: url("../../img/cucina.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    padding: 3em;
}

#chisiamo-chef::before{
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--txtcolor);
    opacity: 0.7;
    z-index: 0;
}

#chef-container{
    margin: 3em;
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

#chisiamo-chef article {
    background-color: var(--headerbgcolor);
    border: 1.5px solid black;
    border-radius: 0.5em;

    padding: 20px;
    flex: 1 1 300px;

    text-align: left;
}

#chisiamo-chef article h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;

    color: var(--bgcolor);
}

.chef-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    flex-direction: row;
}

.chef-content img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 0.5em;
}

.chef-content div {
    max-width: 100%
}

.chef-content p {
    color: var(--title_color);

    display: block;
    margin: 0;
}

.chef-content a {
    display: block;

    margin-top: 25px;
}

#chisiamo-info{
    background-color: var(--secondaryelementcolor);
}

#chisiamo-info > h2{
    margin: 0;
    padding-top: 1rem;
}

button#submit-advice{
    margin: 0 0 0 1em;
}

button#submit-advice, button#reset-advice{
    width: 36.5%;
}

/*  
   =============================================
    PAGINA AREA RISERVATA, LOGIN, REGISTRAZIONE 
   =============================================
*/

#sub-title, form.privacy-area h3{
    text-align: center;
    margin-top: 1em;
}

#login-user,#register-user{
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#login-user form,#register-user form{
    width: 60%;
    height: fit-content;
    background-color: var(--bgcolor);
}

form.privacy-area label,fieldset.user-form {
    text-align: left;
    font-weight: bold;
    margin-top: 1em;
}

form.privacy-area h3{
    margin-bottom: 2em;
}

form.privacy-area fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.privacy-area div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.privacy-area input , fieldset.user-form input{
    margin: 1em;
    width: 75%;
    border-radius: 1.5em;
    border: 3px solid #2C1C18;
    padding: 0.5em;
}

#submit-login,#submit-register{
    background-color: var(--headerbgcolor);
    color: var(--bgcolor);
    border-radius: 2em;
    text-align: center;
    width: 37.5%;
    margin: 1em 1em 2em 1em;
    cursor: pointer;
    padding: 1em;
}

div#to-register,div#to-login{
    width: 60%;
    text-align: center;
    background-color: var(--headerbgcolor);
}

div#to-register h3, div#to-login h3{
    color: var(--bgcolor);
    margin: 1em 0;
}

p.privacy-area{
    color: white;
    height: 100%;
    margin: 1em 0;
}

p#register,p#login{ 
    width: 100%;
    margin: 1em 0;
}

/*  
    ===============================
            PAGINE UTENTE 
    ===============================
*/

div#favorites, div#user-info{
    display: flex;
    margin: 1.5em 2em;
    justify-content: center;
    align-items: center;
}

div#user-info img{
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.9),
                0 0.2em 0.4em rgba(0, 0, 0, 0.9);
}

#user-profile-main h3, #user-settings-main h3{
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.9),
                0 0.2em 0.4em rgba(0, 0, 0, 0.9);
    background-color: #4C0002;
    color: var(--bgcolor);
    padding: 0.5em;
}

div#user-info #general-info{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

#general-info{
    height: 100%;
    justify-content: space-between;
}

div#user-info img{
    border-radius: 50%;
}

a#prev{
    float: left;
}

a#next{
    float: right;
}

a#prev, a#next{
    width: 6em;
    text-align: center;
}
div#favorites{
    display: flex;
    flex-direction: column;
}

ul#favorites-list{
    display: flex;
    list-style-type: none;
    overflow-x: hidden;
    overscroll-behavior-inline: contain;
}

div#user-settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 1em;
}

a#profile-settings{
    text-align: center;
    background-color: var(--headerbgcolor);
    padding: 1em;
    border-radius: 1em;
}

/*  
    ===================================
            PAGINA IMPOSTAZIONI UTENTE
    ===================================
*/
#setting-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#setting-user h3{
    width: 100%;
    margin-bottom: 0;
}

.form-setting{
    width: 60%;
    margin: 1em 0;
}

.form-setting fieldset div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#setting-user fieldset{
    margin: 0.4em 0 1.5em 0;
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
}

#setting-user label{
    margin: 1em 0 0 0;
}

#setting-user input{
    width: 100%;
}

#new-logo{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#new-logo img{
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

#delete-account{
    width: 60%;
    margin: 3em 0;
}

#delete-account button{
    width: 100%;
    margin: 1.5em 0;
    background-color: var(--errorcolor);
    color: var(--bgcolor);
    padding: 1em;
    border-radius: 1.5em;
}

.form-setting .buttons{
    flex-direction: row;
}

.form-setting button{
    width: 50%;
    margin-top: 0;
}

.form-setting .reset-setting{
    margin-right: 1em;
}


/*  
    ===============================
            PAGINA DEGUSTAZIONE 
    ===============================
*/

.degustazione-card {
    display: flex;

    background-color: white;
    border-radius: 0.9em;

    overflow: hidden;

    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin: 20px auto;

    max-width: 90%;
}

.degustazione-card img{
    width: 250px;
    height: auto;
    object-fit: cover;
}

.degustazione-contenuto{
    flex: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.degustazione-contenuto h2, .degustazione-contenuto p{
    margin: 0 0 1em;
}

/* === CONTENUTO DEGUSTAZIONE === */
.degustazione-dettagli{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-degustazione{
    display: flex;
    gap: 0.5em;
    margin-bottom: 1em;
}

.degustazione-dettagli dt{
    font-weight: bold;
    display: inline-block;
    padding-left: 26px;
    padding-right: 0.2em;
    position: relative;
    margin-bottom: 0.5em;
}

.degustazione-dettagli dt::after{
    content: ":";
}

.degustazione-persone::before,
.degustazione-durata::before,
.degustazione-prezzo::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0.1em;
    width: 20px;
    height: 20px;

    background-size: contain;
    background-repeat: no-repeat;
}

.degustazione-persone::before{
    background-image: url('../../img/icone/persona-nero.svg');
}

.degustazione-durata::before{
    background-image: url('../../img/icone/durata-nero.svg');
}

.degustazione-prezzo::before{
    background-image: url('../../img/icone/costo-nero.svg');
}

/*  
    ===============================
            PAGINA PRODOTTO 
    ===============================
*/
.singleproduct_main{
    margin-top: 5em;
}

.singleproduct{
    display: flex;

    flex-wrap: wrap;
    margin-top: 0.5em;
    margin-left: 3em;
    margin-right: 3em;

    gap: 1em;
}

.singleproduct-intestazione{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.singleproduct-intestazione h2{
    color: var(--headerbgcolor);

    text-align: left;
    font-weight: bold;
    font-size: 2em;

    margin: 0;
}

#singleproduct-stella {
    background: none;
    border: none;

    padding: 0;
    cursor: pointer;
}

#singleproduct-stella img {
    width: 40px;
    height: auto;
}

.singleproduct{
    display: flex;

    flex-wrap: wrap;
    margin-top: 0.5em;
    margin-left: 3em;
    margin-right: 3em;

    gap: 1em;
}

.singleproduct h3::before{
    content: "";
    display: inline-block;
    position: relative;

    left: 0;
    margin-right: 0.3em;
    width: 20px;
    height: 20px;

    background-size: contain;

    background-image: url('../../img/icone/valutazione-nero.svg');
}

.singleproduct h3::after{
    content: ":";
}

.singleproduct-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleproduct-img, .singleproduct-descrizione{
    flex: 1 1 300px;
    padding: 0 1rem 1rem 1rem;
}

.singleproduct-img img{

    aspect-ratio: 1/1;
    width: 600px;
    height: auto;

    max-width: 90%;
    max-height: 90%;

    object-fit: cover;

    display: block;

    border-radius: 4px;
    border: 1px solid var(--title_color);
}

.section-singleproduct{
    height: 5px;
    background-color: var(--headerbgcolor)
}

/* === CONTENUTO SINGOLO PRODOTTO === */
#singleproduct-diete{
    margin-top: 1em;
    margin-bottom: 1em;
}

#singleproduct-diete img{
    margin-right: 0.8em;

    height: 70px;
    width: auto;
}

.singleproduct-dettagli dt{
    font-weight: bold;
    font-size: 1.2em;
}

.singleproduct-dettagli dt::after{
    content: ":";
}

.singleproduct-dettagli dt,
.singleproduct-dettagli dd {
    display: inline-block;
}

.singleproduct-dettagli {
    display: grid;
    grid-template-columns: max-content 1fr;

    row-gap: 0.5em;
    column-gap: 1em;
    grid-gap: 1.5em;

    align-items: baseline;
}

#prodotto-ingredienti::before,
#prodotto-descrizione::before,
#prodotto-categoria::before,
#prodotto-valutazione::before,
#prodotto-prezzo::before{
    content: "";
    display: inline-block;
    position: relative;

    left: 0;
    margin-right: 0.3em;
    width: 20px;
    height: 20px;

    background-size: contain;
}

#prodotto-categoria::before{
    background-image: url('../../img/icone/categoria-nero.svg');
}

#prodotto-descrizione::before{
    background-image: url('../../img/icone/descrizione-nero.svg');
}

#prodotto-ingredienti::before{
    background-image: url('../../img/icone/ingredienti-nero.svg');
}

#prodotto-valutazione::before{
    background-image: url('../../img/icone/star.svg');
}

#prodotto-valutazione-testo::after{
    content: " / 5 stelle";
}

#prodotto-prezzo-testo{
    font-size: 1.5em;
    font-weight: bold;
}

#prodotto-prezzo-unita{
    font-weight: normal;
}

#prodotto-nondisponibile{
    text-align: center;
    font-weight: bolder;
    font-size: 1.7em;

    color: var(--errorcolor);

    margin-top: 1em;
    margin-bottom: 1em;
}

#aggiungi-prenotazione{
    margin-top: 1em;
}

form.form-bianco{
    width: 90%;
    margin: 0 2em 2em 2em;

    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: end;

    background-color: white;
    
    border: 2px solid black;
    border-radius: 0.5em;
}

form.form-bianco fieldset{
    width: 90%;
    border: none;

    display: flex;
    flex-direction: column;

    gap: 0.5em;

    padding: 0.5em;
}

form.form-bianco legend{
    text-align: center;
    padding-top: 0.5em;

    font-weight: bold;
    font-size: 1.7em;
}

form.form-bianco .form-label{
    font-weight: bold;
    font-size: 1.2em;
}

form.form-bianco .form-label::after{
    content: ":";
}

form.form-bianco small{
    text-align: center;
    margin-bottom: 0.5em;
}

form.form-bianco input{
    padding: 0.5em;
    border: 1px solid #aaa;
    border-radius: 0.4em;

    text-align: center;
}

form#prenotazione #quantita{
    width: 100%;
}

#quantita-unita{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1em;
}

.descrizione-quantita {
    font-size: 0.9em;
    color: #666;
}


/* === AREA COMMENTI === */

.singleproduct-rating dt,
.singleproduct-rating dd {
    display: inline-block;
}

.singleproduct-rating {
    display: grid;
    grid-template-columns: max-content 1fr;

    row-gap: 0.5em;
    column-gap: 1em;
    grid-gap: 1.5em;

    align-items: baseline;
}

.singleproduct-rating dt{
    font-weight: bold;

    font-size: 1.2em;
}

.singleproduct-rating dt::after{
    content: ":";
}

h3 + .singleproduct-rating {
    width: 100%;
    margin-top: 0.5em;
}

.rating-stars{
    display: flex;
    gap: 0.5em;
}

.rating-stars .star{
    background: none;
    border: none;
    cursor: pointer;
}

.rating-stars img{
    width: 30px;
}

.rating input{
    display: none;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2rem;

    color: #7c7c7c;
    cursor: pointer;

    margin-top: -0.5em;
    margin-bottom: -0.2em;
}

.rating input:checked ~ label {
    color: gold;
}

.rating label:hover,
.rating label:hover ~ label {
    color: gold;
}

#elimina-valutazione{
    width: fit-content;
    margin: 10px auto;
}

/*  
    ===============================
            PAGINE ERRORI 
    ===============================
*/

.error_main h2{
    color: var(--errorcolor);

    text-align: center;
    font-weight: bold;
    font-size: 3em;
    padding-top: 0.2em;
}

.error_main h3{
    color: var(--errorcolor);

    text-align: center;
    font-weight: bold;
    font-size: 2em;

    margin: 1rem;
}

.error_main img{
    display: block;
    margin: 0 auto;

    width: auto;
    height: 400px;
}

.error-description{
    color: var(--txtcolor);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0.5em;

    text-align: center;
    font-size: 1.5em;
}

.error-button-container{
    text-align: center;
    margin: 1rem;
}

.error-button{
    border-radius: 1em;

    background-color: var(--buttoncolor_rosso);
    color: var(--linkcolor);
    font-size: 1em;

    margin: 0 auto;
    padding: 0.5em 1em;

    width: 10em;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.error-button:hover{
    background-color: var(--buttoncolor_rosso_hover);
}

/* === MESSAGGI DI ERRORE */

.error{
    color: var(--errorcolor);
    display: block;
    text-align: center;
    margin: 1em;
    font-weight: bold;
}

button#submit-register.not-available, 
button#submit-user-setting.not-available, 
button#submit-password-setting.not-available,
button#submit-login.not-available,
button#submit-advice.not-available,
button#reset-advice.not-available{
    opacity: 0.6;
    cursor: not-allowed;
}

/* ================================================= */