@page {
	margin: 1cm;
	size: A4;
}

* {
	font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 12pt;

    line-height: 1.5em;
    text-decoration: none;
    text-align: justify;

    break-before: avoid;
    break-inside: avoid;

    color: black;
    background-color: white;
}

body {
    align-items: center;
	text-align: center;
	margin-top: 2cm;
}

a{
    
}

a:after {
	content: " [" attr(href) "]";
}

form{
    display: none;
}