*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}
:root {
    /*COLORI*/
    --bgcolor: #FAF4ED;
    --title_color: #FAF4ED;
    --txtcolor: #2C1C18;
    --errorcolor: #7C0A01;
    --buttoncolor: #C65C45;
    --headerbgcolor: #73142F;
    --secondaryelementcolor: #7A9884;
    --linkcolor: #F3FF00;

    /*TESTO*/
    --title: 5em;
    --menu: 1.5em;
}

/*GENERAL*/
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bgcolor);
}

.display-none{
    display: none;
}

.inline{
    display: inline;
}


header{
    background-image:url(../../img/sfondo-prova.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-bottom: 2rem;
    min-height: 60vh;
}

div#header{
    width: 100%;
}

a{
    color:var(--linkcolor);
    text-decoration: underline;
    margin: 1em;
    text-align: center;
}

h1#title{
    font-size: 4em;
    color: var(--bgcolor)
}

h2{
    margin: 1rem;
    font-size: 2em;
    color: var(--txtcolor);
}

h3{
    font-size: 1.2em;
}

p#title{
    margin-bottom: 2em;
    font-size: 1.3em;
}

/* ==== AIUTI ALLA NAVIGAZIONE === */
.navigation{
    position: absolute;
    text-indent: -999em;
}

/* ==== TOP NAVBAR ==== */
.navbar_top{
    background-color: var(--headerbgcolor);
    color: var(--title_color);
    display: inline-flex;
    overflow: hidden;
    position: absolute;

    top: 0;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* -- LOGO MENU --*/
.hidden {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

h1.hidden{
    background-image: url("../../img/loghi/logo_colori_lato_scritta_bianca.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1em;
}

/* -- MENU -- */
#menu {
    list-style: none;
    margin-left: auto;
    display: inline-flex;
    padding: .3em 1.5em;
    justify-content: end;
    flex-direction: row;
}

#menu a{
    text-align: center;
}



nav#menu li{
    margin: 0 0.5em;
    padding: 0.5em;
    color: var(--linkcolor);
    align-self: center;
}

#menu li#here{
    color: var(--title_color);
    background-color: var(--buttoncolor);
    border-radius: 2em;
    padding: 0.4em 0.6em;
    text-decoration: none;
    pointer-events: none;
}

/* ==== BREADCRUMB ==== */
#breadcrumb {
    color: var(--title_color);
    background-color: var(--headerbgcolor);
    width: 30%;
    position: absolute;

    top: 5em;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 2em;
    padding: 0.5rem 0.7rem;
    margin: 1em;
}

#bredcrumb p {

}


/* DA SISTEMARE */
nav#menu li:nth-child(4){
    margin: 0;
    color: var(--linkcolor);
    align-self: center;
    padding: 0.5em;
}


nav#menu li#here{
    color: #FFFFFF;
    border-radius: 1.5rem;
    background-color: var(--headerbgcolor);
}


h1, nav#breadcrumb, h2, h3{
    text-align: center;
}

span#current-path{
    font-size: 1.2rem;
}


/*FOOTER*/
footer{
    text-align: center;
    background-color: var(--txtcolor);
    color: var(--bgcolor);
    padding: 1.2em 0;
}

footer a{
    color: var(--linkcolor);
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 2rem;
}

/*HOME*/

div#main-info{
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.3rem;
}

li a{
    margin: 0;
}

ul.products,ul#new-products{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    border: 0.5rem;
    color: #FFFFFF;
}

ul#new-products, ul#best-products{
    margin: 1rem 2rem;
}

li.new{
    width: 33%;
    text-align: center;
    list-style-type: none;
    background-color: var(--headerbgcolor);
    border: 3px solid black;
    padding: 1em;
    margin: 1em;
}

ul#best-products li{
    background-color: var(--errorcolor);
}

ul.products img,ul#new-products img{
    width: 8.5em;
    height: 8.5em;
}

/*PRODUCT-LIST*/

div#list-content{
    margin: 1em;
    display: flex;
    justify-content: space-between;
}

div#filter{
    display:flex;
    flex-direction: column;
    width: 23%;
}

div#filter fieldset{
    border: 3px solid black;
}

div.filters{
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    background-color: var(--bgcolor);
}


div.filters input{
    margin: 1em 0 0 0;
    width: 10%;
    min-height: 1em;
}

input#price, input#grade{
    width: 100%;
}

div.buttons{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-top: 1em;
}

button.choice{
    padding: 1em 0;  
    width: 100%;
    border: 3px solid black;
}

button#reset-filters, button#reset-advice{
    background-color: var(--txtcolor);
    color: var(--bgcolor);
}

button#submit-filters{
    background-color: var(--headerbgcolor);
    color: var(--linkcolor);
    margin-top: 1em;
}

div#show-products{
    width: 75%;
    box-sizing: border-box;
    margin-bottom: 0.5em;
}

form#search{
    margin: 0.5em;
    padding: 1em;
    padding-top: 0;
}

input#searching-bar{
    border-radius: 0.5em;
    border: 4px solid var(--headerbgcolor);
    width: 100%;
    min-height: 3.5vh;
    font-size: 1.1em;
}

ul#list{
    overflow: auto;
    display: flex;
    padding: 1em;
    overflow-x: hidden;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: space-between;
    background-color: var(--txtcolor);
    margin-left: 1.5em;
    width: 96%;
}

li.product-brochure {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 0.5em 1em 0.5em;
    padding: 1.3em;
    background-color: var(--headerbgcolor);
    justify-content: center;
    align-items: center;
    color: var(--bgcolor);
    text-align: center;
    border-radius: 0.75em;
    border: 3px solid black;
}

li.product-brochure img{
    width: 8.5em;
    height: 8.5em;
    margin-bottom: 1em;
}

/*CHI SIAMO*/
div#mission{
    display: flex;
    margin: 1em;
    justify-content: center;
    align-items: center;
}

div#goal{
    border: 3px solid black;
    margin: 2em;
    text-align: left;
    padding: 1em;
}

form#advice{
    margin: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

form#advice fieldset{
    width: 75%;
    margin: 1em;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: black;
    color: var(--bgcolor);
    border: 3px solid black;
}
form#advice label{
    margin-top: 1em;
}
form#advice textarea{
    padding: 1em;
    margin: 1.5em 1em 2em 1em;
    height: 30vh;
}

div#buttons-advice{
    display: flex;
    justify-content: end;
    width: 75%;
}

form#advice button{
    width: 100%;
    margin-left: 1em;
}

form#advice button#reset-advice{
    margin-left: 0;
}

button#submit-advice{
    background-color: var(--headerbgcolor);
    color: var(--linkcolor);
}

div#contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--bgcolor);
    padding: 1em;
    margin: 1em 0;
}

.author{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    width: 75%;
    border: 3px solid white;
    line-break: anywhere;
}

.author img{
    margin: 1em 0;
    border-radius: 8em;
    width: 4em;
    height: 4em;
}