*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}
:root {
    /*COLORI*/
    --bgcolor: #FAF4ED;
    --txtcolor: #2C1C18;
    --errorcolor: #7C0A01;
    --buttoncolor: #C65C45;
    --headerbgcolor: #73142F;
    --secondaryelementcolor: #7A9884;
    --linkcolor: #F3FF00;

    /*TESTO*/
    --title: 5rem;
    --menu: 1.5rem;
}

/*GENERAL*/
html{
    overflow-x: hidden;
}

body{
    background-color: var(--bgcolor);
}

.display-none{
    display: none;
}

header{
    background-image:url(../../img/sfondo-prova.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-bottom: 2rem;
    min-height: 70vh;
}

div#header{
    width: 100%;
}

a{
    color:var(--linkcolor);
    text-decoration: underline;
}

h1#title{
    font-size: 4rem;
    color: var(--bgcolor)
}

h2{
    margin: 1rem;
    color: var(--txtcolor);
}

p#title{
    margin-bottom: 2em;
}

/*NAVIGATION MENU*/
#navigation{
    position: absolute;
    text-indent: -999em;
}

nav#menu {
    padding: 1.5em ;
    min-width: 100%;
    background-color: var(--txtcolor);
    opacity: 90%;
}

nav#menu ul{
    display: flex;
    list-style-type: none;
    align-items:center;
    padding: .2rem 1.5rem;
    justify-content: end;
}

nav#menu li{
    margin: 0 1rem;
    color: var(--linkcolor);
    padding: 0.5rem 0.7rem;
    align-self: center;
}

nav#menu li#here{
    color: #FFFFFF;
    border-radius: 2rem;
    background-color: var(--headerbgcolor);
}

h1, nav#breadcrumb, h2, h3{
    text-align: center;
}

nav#breadcrumb{
    border-radius: 2rem;
    color: #FFFFFF;
    background-color: var(--headerbgcolor);
    padding: 0.5rem 0.7rem;
    margin: 1rem 40%;
}

span#current-path{
    font-size: 1.2rem;
}
/*FOOTER*/
/*HOME*/
div#main-info{
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.3rem;
}

div.products,div#new-products{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    border: 0.5rem;
    background-color: var(--headerbgcolor);
    color: #FFFFFF;
}

div#new-products, div#best-products{
    margin: 1rem 2rem;
}

div.new{
    width: 33%;
    text-align: center;
}

div.products img,div#new-products img{
    width: 12rem;
    height: 12rem;
}

div#best-products{
    background-color: var(--errorcolor);
}

/*PRODUCT-LIST*/

div#list-content{
    margin: 1em;
    display: flex;
}

div#filter{
    display:flex;
    flex-direction: column;
    width: 30%;
}

div#first{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.buttons{
    display: flex;
    margin-bottom: 1em;
    margin-top: 1em;
}

button.choice{
    padding: 1em 0;
    margin: 1em 0;
    width: 50%;
}

button#submit-filters{
    background-color: var(--headerbgcolor);
    color: var(--linkcolor);
    margin-left: 1em;
}

div#show-products{
    width: 70%;
}

form#search{
    margin: 0.5em;
    padding: 1em;
}


input#searching-bar{
    border-radius: 0.5em;
    border: 4px solid var(--headerbgcolor);
    width: 100%;
}

ul#list{
    overflow: auto;
    display: flex;
    padding: 1em;
    overflow-x: hidden;
    flex-wrap: wrap;
}

li.product-brochure {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 2em 1em 1em;
    padding: 1.5em;
    background-color: var(--headerbgcolor);
    justify-content: center;
    align-items: center;
    color: var(--bgcolor);
    text-align: center;
    border-radius: 0.75em;
    border: 3px solid black;
}


li.product-brochure img{
    width: 8em;
    height: 8em;
    margin-bottom: 1em;
}