*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}
:root {
    /*COLORI*/
    --bgcolor: #FAF4ED;
    --title_color: #FAF4ED;
    --txtcolor: #2C1C18;
    --errorcolor: #7C0A01;
    --buttoncolor: #C65C45;
    --headerbgcolor: #73142F;
    --secondaryelementcolor: #7A9884;
    --linkcolor: #F3FF00;

    /*TESTO*/
    --title: 5em;
    --menu: 1.5em;
}

/*GENERAL*/
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: var(--bgcolor);
    overflow-x: hidden;
    height: 100%;
}

.display-none{
    display: none;
}

.inline{
    display: inline;
}

header{
    background-image:url(../../img/sfondo-prova.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-bottom: 2rem;
    min-height: 70vh;
}

div#header{
    width: 100%;
}

a{
    color:var(--linkcolor);
    text-decoration: underline;
    margin: 1em;
    text-align: center;
}

h1#title{
    font-size: 4em;
    color: var(--bgcolor)
}

h2{
    margin: 1rem;
    font-size: 2em;
    color: var(--txtcolor);
}

h3{
    font-size: 1.2em;
}

p#title{
    margin-bottom: 2em;
    font-size: 1.3em;
}

/* ==== AIUTI ALLA NAVIGAZIONE === */
#navigation{
    position: absolute;
    text-indent: -999em;
}

/* ==== TOP NAVBAR ==== 
.navbar_top{
    background-color: var(--headerbgcolor);
    color: var(--title_color);
    display: inline-flex;
    overflow: hidden;
    position: absolute;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* -- LOGO MENU --*//*
.hidden {
    text-indent: -999em;
    white-space: nowrap;
    overflow: hidden;
}

h1.hidden{
    background-image: url("../../img/loghi/logo_colori_lato_scritta_bianca.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 200px;
    aspect-ratio: 3/1;

    margin-left: 1em;
}
*/

/* -- MENU -- */
#menu {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    background-color: var(--txtcolor);
    width: 100%;
    opacity: 80%;
    padding: 1em 0.5em;
}

#menu img{
    width: 5em;
    
}

#menu a{
    text-align: center;
}

#menu ul{
    display: flex;
    justify-content: end;
    list-style-type: none;
}


#menu li{
    margin: 0 0.5em;
    padding: 0.5em;
    color: var(--linkcolor);
    align-self: center;
    font-size: 0.97em;
}

#menu li#here{
    color: var(--title_color);
    background-color: var(--buttoncolor);
    border-radius: 2em;
    padding: 0.4em 0.6em;
    text-decoration: none;
    pointer-events: none;
}

/* ==== BREADCRUMB ==== */
#breadcrumb {
    color: var(--title_color);
    background-color: var(--headerbgcolor);
    width: 30%;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    border-radius: 2em;
    padding: 0.5rem 0.7rem;
    margin: 1em;
}

/* DA SISTEMARE */
nav#menu li:nth-child(4){
    margin: 0;
    color: var(--linkcolor);
    align-self: center;
    padding: 0.5em;
}


nav#menu li#here{
    color: #FFFFFF;
    border-radius: 1.5rem;
    background-color: var(--headerbgcolor);
}


h1, nav#breadcrumb, h2, h3{
    text-align: center;
}

span#current-path{
    font-size: 1.2rem;
}

span#current-path a, li a{
    margin: 0;
}


/*FOOTER*/
footer{
    text-align: center;
    background-color: var(--txtcolor);
    color: var(--bgcolor);
    padding: 1.2em 0;
}

footer a{
    color: var(--linkcolor);
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 2rem;
}

footer img{
    height: 2em;
    width: 4em;
}

div#validation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

/*HOME*/

div#main-info{
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.3rem;
}

ul.products,ul#new-products{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    border: 0.5rem;
    color: #FFFFFF;
}

ul#new-products, ul#best-products{
    margin: 1rem 2rem;
}

li.new{
    width: 33%;
    text-align: center;
    list-style-type: none;
    margin: 1em;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: var(--txtcolor);
    text-align: center;
    border-radius: 0.9em;
    transition: .4s;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.25),
                0 0.8em 0.8em rgba(0, 0, 0, 0.22);
}

/*PRODUCT-LIST*/

div#list-content{
    margin: 1em;
    display: flex;
    justify-content: space-between;
}

div#filter{
    display:flex;
    flex-direction: column;
    width: 23.5%;
}

div#filter fieldset{
    border: 3px solid black;
}

div.filters{
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    background-color: var(--bgcolor);
}

div.filters input{
    margin: 1em 0 0 0;
    width: 10%;
    min-height: 1em;
}

input#price, input#grade{
    width: 100%;
}

div.buttons{
    display: flex;
    flex-direction: column;
    margin: 1em 0 1em 0
}

button.choice{
    padding: 1em 0;  
    width: 100%;
    border: 3px solid black;
}

button#reset-filters, button#reset-advice{
    background-color: var(--txtcolor);
    color: var(--bgcolor);
}

button#submit-filters{
    background-color: var(--headerbgcolor);
    color: var(--bgcolor);
    margin-top: 1em;
}

div#show-products{
    width: 74.5%;
    box-sizing: border-box;
    margin-bottom: 0.5em;
}

form#search{
    margin: 1em 0 1em 1em;
    padding: 0 0.7em 0 0;
}

input#searching-bar{
    border-radius: 0.5em;
    width: 100%;
    min-height: 3.5vh;
    font-size: 1.1em;
    padding: 0.4em;
}

ul#list{
    overflow: hidden;
    display: flex;
    padding: 0.7em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--bgcolor);
    width: 100%;
}

li.product-brochure {
    display: flex;
    flex-direction: column;
    width: 37.5%;
    margin: 0 0.5em 1em 0.5em;
    padding: 0;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: var(--txtcolor);
    text-align: center;
    border-radius: 0.9em;
    transition: .4s;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.25),
                0 0.8em 0.8em rgba(0, 0, 0, 0.22);
}

li.product-brochure:hover,li.new:hover{/*.new -> HOME*/
    transform: translate(0, -0.4em );
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.16),
                0 0.2em 0.4em rgba(0, 0, 0, 0.24);
}

li.product-brochure img,ul.products img,ul#new-products img{/*.products e #new-products -> HOME*/
    max-width: 75%;
    height: auto;
    margin: 1em 0;
    border-radius: 0.72em;
}

li.product-brochure a, li.new a{/*.new -> HOME*/
    background-color: var(--headerbgcolor);
    width: 100%;
    margin-top: 1.5em;
    border: 0;
    border-bottom-left-radius: 0.72em;
    border-bottom-right-radius: 0.72em;
    height: 100%;
    display: block;
    text-align: center;
    padding: 1em;
    bottom: 0;
}

p#product-name{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

/*CHI SIAMO*/
div#mission{
    display: flex;
    margin: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div#goal{
    border: 3px solid black;
    margin: 2em;
    text-align: left;
    padding: 1em;
    width: 55%;
}

form#advice{
    margin: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

form#advice fieldset{
    width: 75%;
    margin: 1em;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: black;
    color: var(--bgcolor);
    border: 3px solid black;
}
form#advice label{
    margin-top: 1em;
}
form#advice textarea{
    padding: 1em;
    margin: 1.5em 1em 2em 1em;
    height: 30vh;
}

div#buttons-advice{
    display: flex;
    justify-content: end;
    width: 75%;
}

form#advice button{
    width: 100%;
    margin-left: 1em;
}

form#advice button#reset-advice{
    margin-left: 0;
}

button#submit-advice{
    background-color: var(--headerbgcolor);
    color: var(--bgcolor);
}

div#contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bgcolor);
    padding: 1em;
    margin: 1em 0;
}

.author{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0.25em;
    width: 37.5%;
    line-break: anywhere;
}

.author img{
    margin: 1em 0;
    border-radius: 8em;
    width: 4em;
    height: 4em;
}

/*AREA RISERVATA - LOGIN - REGISTER*/

#sub-title, form.privacy-area h3{
    text-align: center;
    margin-top: 1em;
}

#login-user,#register-user{
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#login-user form,#register-user form{
    width: 60%;
    height: fit-content;
    background-color: var(--bgcolor);
}

form.privacy-area label{
    text-align: left;
    font-weight: bold;
    margin-top: 1em;
}

form.privacy-area h3{
    margin-bottom: 2em;
}

form.privacy-area fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.privacy-area input{
    margin: 1em;
    width: 75%;
    border-radius: 1.5em;
    border: 3px solid #2C1C18;
    padding: 0.5em;
}

#submit-login,#submit-register{
    background-color: var(--headerbgcolor);
    color: var(--bgcolor);
    border-radius: 2em;
    text-align: center;
    width: 37.5%;
    margin: 1em 1em 2em 1em;
}

div#to-register,div#to-login{
    width: 60%;
    text-align: center;
    background-color: var(--headerbgcolor);
}

div#to-register h3, div#to-login h3{
    color: var(--bgcolor);
    margin: 1em 0;
}

p.privacy-area{
    color: white;
    height: 100%;
    margin: 1em 0;
}

p#register,p#login{ 
    width: 100%;
    margin: 1em 0;
}

/*USER PAGES*/
div#favorites, div#user-info{
    display: flex;
    margin: 1.5em 2em;
    justify-content: space-between;
    align-items: center;
}

div#user-info{
    flex-direction: column;
}

a#prev{
    float: left;
}

a#next{
    float: right;
}

a#prev, a#next{
    width: 6em;
    text-align: center;
}

ul#favorites-list{
    display: flex;
    list-style-type: none;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

ul#favorites-list li.product-brochure{
    min-width: 32.2%;
}

div#user-settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 1em;
}

a#profile-settings, a#prev, a#next{
    text-align: center;
    background-color: var(--headerbgcolor);
    padding: 1em;
    border-radius: 1em;
}