# Pagine di errore personalizzate
ErrorDocument 403 http://localhost/gastronomia/sito/403.php
ErrorDocument 404 http://localhost/gastronomia/sito/404.php
ErrorDocument 500 http://localhost/gastronomia/sito/500.php

# Attivazione riscrittura
RewriteEngine On

# Blocco accesso diretto a cartelle sensibili se referer vuoto
RewriteCond %{HTTP_REFERER} ^$
RewriteRule ^assets/ - [F,L]
RewriteRule ^php/ - [F,L]
RewriteRule ^html/ - [F,L]

# Redirect dei file HTML ai corrispondenti PHP (senza R=301, rewrite interno)
RewriteRule ^chisiamo.html$ chisiamo.php [L]
